@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 메인 */
.e233_2863 { 
	overflow:hidden;
}
.e233_28631 { 
	/* box-shadow:1px 1px 4px rgba(0, 0, 0, 0.25); */
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:300px;
	position:absolute;
	
}
.e233_28641 { 
	color:rgba(65.0000037252903, 92.00000211596489, 190.0000038743019, 1);
	/* width:100px; */
	/* height:20px; */
	position:absolute;
	left:100px;
	top:0px;
	font-family:NanumGothic;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.e233_2865 { 
	width:25px;
	height:25px;
	position:absolute;
	left:358px;
	top:18px;
	background-image:url(/public/attendance/close.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e233_28661 { 
	color:rgba(0, 0, 0, 1);
	/* width:74px; */
	height:16px;
	position:absolute;
	left:43px;
	top:330px;
	font-family:NanumGothic;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e233_28671 { 
	color:rgba(0, 0, 0, 1);
	/* width:74px; */
	height:16px;
	position:absolute;
	left:43px;
	top:410px;
	font-family:NanumGothic;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e233_28681 { 
	color:rgba(0, 0, 0, 1);
	/* width:68px; */
	height:16px;
	position:absolute;
	left: 202px;
    top: 329px;
	font-family:NanumGothic;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1243_671 { 
	color:rgba(0, 0, 0, 1);
	/* width:68px; */
	height:16px;
	position:absolute;
	left: 202px;
    top: 410px;
	font-family:NanumGothic;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e233_28691 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:20px;
	position:absolute;
	left: 104px;
    top: 65px;
	font-family:NanumGothic;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e233_28701 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:50px;
	position:absolute;
	left: 42px;
    top: 110px;
	font-family:NanumGothic;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e233_28711 { 
	width:150px;
	height:50px;
	position:absolute;
	left: 7px;
    top: 230px;
}
.e233_2872 { 
	background-color:rgba(255, 255, 255, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e233_2872 { 
	border:1px solid rgba(147.68749594688416, 169.15000587701797, 255, 1);
}
.e233_2873 { 
	color:rgba(65.0000037252903, 92.00000211596489, 190.0000038743019, 1);
	width:31px;
	height:16px;
	position:absolute;
	left:60px;
	top:17px;
	font-family:NanumGothic;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e233_28741 { 
	width:150px;
	height:50px;
	position:absolute;
	left: 190px;
    top: 230px;
}
.e233_2875 { 
	background-color:rgba(147.68749594688416, 169.15000587701797, 255, 1);
	width:150px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e233_2876 { 
	color:rgba(255, 253.08757781982422, 253.08757781982422, 1);
	width:31px;
	height:16px;
	position:absolute;
	left:59px;
	top:17px;
	font-family:NanumGothic;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
