.main {
    background-color: #f2f6ff;
    margin-left: 85px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    width: auto;
}

.main_wrap > div {
    width: 500px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.main_wrap > div > h1 {
    color: #415cbe;
    font-size: 24px;
    padding: 20px 0 20px 30px;
}

.main_profile {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_profile p {
    font-size: 28px;
}

.user_photo > img {
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    margin-right: 30px;
}

.go_mypage {
    background: #94a9ff;
    border-radius: 6px;
    border: transparent;
    width: 90px;
    height: 30px;
    font-weight: 550;
    font-size: 12px;
    color: #353535;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 20px 10px 0 10px;
}

.main_commute {
    height: 400px;
    width: 450px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-top: 50px;
}

.attendance-container {
    text-align: center;
}

.main_note {
    height: 200px;
    width: 450px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-top: 50px;
}

.main_project {
    height: 900px;
}

.main_approval {
    height: 200px;
}

.main_notice {
    height: 600px;
    width: 450px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-top: 50px;
    padding: 10px;
}

