.cotentHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.saveButton {
  background-color: plum;
  color: white;
  border: 1px solid plum;
}

.formItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.formItem > div {
  flex: 1;
}

.formItem > label {
  width: 100px;
  font-weight: 700;
}

.formItem > div > input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.attchFileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.attchFileList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: 1px solid #ccc;
}

.select {
  width:150px;
  font-size:17px;
}
