#wrap {
}

.group_wrap {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  width: 100%;
}

.group {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  padding: 16px;
  margin-right: 50px;
}

.subMain {
}

.subMain .group_search {
  position: relative;
}

.subMain .group_search input[type="search"] {
  width: 360px;
  height: 32px;
  margin-bottom: 20px;
}

.subMain .group_search label img {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 22px;
}

.subMain .group_list label {
  cursor: pointer;
}

/* 조직도 멤버 정보 */

.group_info {
  width: 100%;
  display: flex;
}

.group_info_wrap {
  margin-right: 120px;
}

.group_info_wrap .note_btn {
  border: 1px solid rgb(117, 117, 117);
  padding: 6px 14px;
  border-radius: 6px;
  transition: 200ms;
}

.group_info_wrap .note_btn:hover {
  border: 1px solid #94a9ff;
  background-color: #94a9ff;
}

.group_info_wrap hr {
  margin: 20px 0;
}

.group_info img {
  width: 180px;
  height: 180px;
}

.group_member_info li strong {
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  font-size: 18px;
}

.group_member_info li span {
  width: 250px;
  display: inline-block;
}

/* 조직도 부서 정보 */

.group_department_info_wrap {
  display: none;
}

.group_department_info {
  margin-top: 40px;
}

.group_department_info li {
  margin-bottom: 40px;
}

.group_department_info li strong {
  width: 240px;
  display: inline-block;
  font-size: 18px;
}

.department_member {
  display: flex;
}

.group_department_info li > span {
  display: inline-block;
  border: 1px solid rgb(95, 95, 95);
  width: 380px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.department_member div {
  border: 1px solid rgb(95, 95, 95);
  width: 380px;
  height: 480px;
  margin-left: 5px;
  padding: 10px;
}

.department_member div span {
  transform: translate(-8px, -5px);
  display: inline-block;
}

.group_list {
  border: 1px solid rgb(136, 136, 136);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  width: 360px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.group_list div {
  text-indent: 30px;
  font-size: 16px;
  font-weight: initial;
  padding-top: 5px;
}

.group_list div ul {
  text-indent: 60px;
  padding-top: 5px;
}

.group_list div ul li {
  text-indent: 90px;
  padding: 5px 0;
}
